<% @title = "Seven Army Documentation" %>
<% @seo_description = "#{@documentation_about.seo if @documentation_about.present?}" %>
<main class="my-5 container">
  <p style="color: green"><%= notice %></p>

  <h1 class="fw-bold text-secondary display-1">Documentation</h1>
    <% if user_signed_in? && super_admin %>
    <%= link_to "New documentation", new_documentation_path, class: "btn btn-primary text-white" %>
  <% end %>
<% if !@documentation_about.nil? %>
  <section class="row">
    <div class="col-lg-3" id="documentations">
      <% @documentations.each do |documentation| %>
        <h1><%= link_to documentation.title, documentation %></h1>
      <% end %>
    </div>
    <div class="col-lg-9">
      <%= @documentation_about.body %>
    </div>
  </section>
<% end %>
</main>