<div class="container-fluid bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 bg-white border rounded p-5 mx-auto">
        <h1>Edit <%= @alt.title %></h1>

        <%= render "form", alt: @alt %>

        <br>

        <div>
          <%= link_to "Back to alts", alts_path %>
        </div>
      </div>
      <% if @alt.image_url.present? %>
        <div class="col-lg-6">
          <%= image_tag @alt.image_url(:small), class: "image-fluid w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
