<div class="container-fluid bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 bg-white border rounded p-5 mx-auto">
        <% if @alt.image_url.present? %>
          <div class="col-md-6 d-md-none d-sm-block">
            <%= image_tag @alt.image_url(:small), class: "image-fluid w-100 mb-5" %>
          </div>
        <% end %>

        <%= render "form", alt: @alt %>
        <br>
        <div>
          <%= link_to "Back", alts_path %>
        </div>
      </div>
      <% if @alt.image_url.present? %>
        <div class="col-md-6 d-none d-md-block">
          <%= image_tag @alt.image_url(:small), class: "image-fluid w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
