<div class="container-fluid bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 bg-white border rounded p-5 mx-auto">
        <h1>Upload new image for Seven Army</h1>

        <%= render "image_form", alt: @alt %>

        <br>

        <div>
          <%= link_to "Back", alts_path %>
        </div>
      </div>
    </div>
  </div>
</div>