<main class="container">
  <p style="color: green"><%= notice %></p>
  <%= render 'alt_show', alt: @alt %>
  <% if user_signed_in? && (current_user == @alt_show.user || current_user.super_user?) %>
    <button type="button" class="btn btn-lg mt-3 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Edit
    </button>
    <div class="modal fade shadow-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= @alt.title %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "form", alt: @alt %> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</main>
