<h1>Editing alt favorite</h1>

<%= render "form", alt_favorite: @alt_favorite %>

<br>

<div>
  <%= link_to "Show this alt favorite", @alt_favorite %> |
  <%= link_to "Back to alt favorites", alt_favorites_path %>
</div>
