<div id="<%= dom_id alt_text %>">
  <p>
    <strong>Body:</strong>
    <%= alt_text.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= alt_text.user_id %>
  </p>

  <p>
    <strong>Alt:</strong>
    <%= alt_text.alt_id %>
  </p>

</div>
